
  

  main {
    height: 100vh;
    background-image: url(imagens/pexels-orione-conceição-8663203.jpg);
    background-repeat: no-repeat;
    
  }
  form { 
    
    background-color: white;
    border-radius: 3em;
    box-shadow: 2px 2px 2px 0px rgba(59, 58, 58, 0.644);
    width: 100%;
    margin: 5px;

 }
form input, form button {
    font-size: 1.2em;
    border-radius: 2em;
    border: none;
    padding: 0.6em;
    outline: 0;
    

}

.meio-principal {
    display: flex;
}
.form-principal h1 {
    color: #f0f2f3;
    font-size: 2.4em;
    text-align: center ;
    font-weight: 200;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.centro {
    background-color: hsl(131, 61%, 14%);
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.521) 1px 1px 1px 1px;
}
.btnn button {
    border: none;
    border-radius: 30px;
    font-size: 1em;
    background-color: #296312;
    color: white;
    padding: 10px;
    margin: 7px;
    
}

.btnn button:hover {
    background-color: #036d0c;
    cursor: pointer;
}
.titulo h1 {
    padding: 20px;
    font-size: 1.8em;
    color: #144d74;
    text-align: left;
}

   
.form-principal {
    padding: 200px 150px;
    
}

  .carousel-wrapper {
    height: 550px;
    position: relative;
    width: 95%;
    display: block;
    margin: 50px auto ;
    border: 5px solid black;
    border-radius: 10px;
  }
  


  .Musica  {
      background-color: rgb(4, 75, 4);
      color: wheat;
      padding: 10px;
      font-size: 1.5em;
      border-radius: 5px;
      text-align: center;
  }
  .Musica:hover {
      background-color: rgb(1, 37, 1);
  }
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid rgb(6, 26, 1);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }

  .carousel-item a:hover {
      background: none;
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^= "item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('imagens/socadona.jpg');
    background-size: cover;
    background-position-y: center;
    
}
  .item-2 {
    background: url('imagens/xama.jpg');
    background-size: cover;
    background-position-x: center;

  }
  .item-3 {
    background: url('imagens/malvada.jpg');
    background-size: cover;
    background-position-x: center;

  }
  
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  } 
  
  .top10 h1{
    color: rgb(61, 121, 13);
    font-weight: 300;
}
.top10  ol {
    color: rgb(75, 155, 11);
    columns: 2;
    border: solid 2px rgb(32, 110, 9);
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    list-style-position: inside;

}

.top10 {
    margin-left: 10px;
    padding: 10px;
}
 .top10  li, a{
     color: rgb(43, 107, 13);
     font-size: 1.2em;
     text-decoration: none;
     margin-left: 0px;
     
     
 }
 .top10 li:hover{
     text-decoration: underline;
 }    

 .categorias img  {
    height: 200px;
            width: 200px;
            margin: 6px;
            border-radius: 10px;
            background-color: transparent;
            border: solid 4px rgb(7, 68, 7);
         }
         .categorias h1 {
             color: rgba(47, 128, 9, 0.897);
             font-weight: 100;
         }
         .categorias {
             display: inline-block;
             margin-left: 15px;
         }
         .categorias a {
             display: inline-block;
             text-decoration: none;
             text-align: center;
             font-size: 1.4em;
             color: #1c7519;
             transition: 0.3s all;
             border-radius: 10px; 
             padding: 2px;
    }
         .categorias a:hover {
            transform: scale(1.1);
 }

