
  

  main {
    height: 90vh;
    background: url(imagens/pexels-jose-francisco-fernandez-saura-802024.jpg);
    background-position-x: center;
  }
  
  .carousel-wrapper {
    height: 550px;
    position: relative;
    width: 95%;
    display: block;
    margin: 50px auto ;
    border: 5px solid black;
    border-radius: 10px;
  }
  


  .Musica  {
      background-color: rgb(4, 75, 4);
      color: wheat;
      padding: 10px;
      font-size: 1.5em;
      border-radius: 5px;
      text-align: center;
  }
  .Musica:hover {
      background-color: rgb(1, 37, 1);
  }
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid rgb(6, 26, 1);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^= "item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('imagens/socadona.jpg');
    background-size: cover;
    background-position-y: center;
    
}
  .item-2 {
    background: url('imagens/xama.jpg');
    background-size: cover;
    background-position-x: center;

  }
  .item-3 {
    background: url('imagens/malvada.jpg');
    background-size: cover;
    background-position-x: center;

  }
  
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  } 